abbreviations==0.2.5
beautifulsoup4==4.12.3
datasets==2.18.0
googlesearch_python==1.2.5
numpy
pandas==2.2.3
python_Levenshtein==0.26.1
Requests==2.32.3
scikit_learn
sentence_transformers==3.3.1
spacy==3.5.4
tenacity==8.2.3
torch==2.2.1
tqdm==4.66.2
transformers==4.46.2
